main {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 390px;
}

input {
  padding: 8px 2px;
  font-size: 16px;
  height: 24px;
  width: calc(100% - 87px);
}

.phone-input {
  margin-left: 8px;
}

.primary-button {
  background: #292929;
  color: white;
  border: none;
  width: 120px;
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  margin-bottom: 24px;
  width: 100%;
}
.primary-button:hover {
  background: #232323;
}

.url-input {
  width: calc(100% - 80px);
  text-align: center;
}

.copy-button {
  width: 72px;
  height: 44px;
  transform: translateY(-1px);
}
